@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-aop {
  background: url('/bgrd-AOP.jpg') right -80px bottom -120px no-repeat;
  background-size: 70vw auto;
  background-color: #fff;
  min-height: 100vh;
}
